<div class="header">
  <app-header></app-header>
</div>

<div class="page-content">
  <div class="section mt-0">
    <div class="breadcrumbs-wrap">
      <div class="container">
        <div class="breadcrumbs">
          <a href="index-2.html">{{ "BREADCRUMBS.HOME" | translate }}</a>
          <span>{{ "BREADCRUMBS.BLOGS" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section page-content-first">
    <div class="container">
      <div class="text-center mb-2 mb-md-3 mb-lg-4">
        <div class="h-sub theme-color">
          {{ "BLOGS_SECTION.WHAT_WE_OFFER" | translate }}
        </div>
        <h1>{{ "BLOGS_SECTION.OUR_BLOGS" | translate }}</h1>
        <div class="h-decor"></div>
        <div class="text-center max-670 mt-3 mx-md-auto">
          <p>{{ "BLOGS_SECTION.DESCRIPTION" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row col-equalH">
        <div class="col-md-6 col-lg-4" *ngFor="let service of services">
          <div class="service-card">
            <div class="service-card-photo">
              <a [routerLink]="service.link"
                ><img src="{{ service.image }}" class="img-fluid" alt=""
              /></a>
            </div>
            <h5 class="service-card-name">
              <a [routerLink]="service.link">{{
                "SERVICE_CARD.NAME" | translate : { name: service.name }
              }}</a>
            </h5>
            <div class="h-decor"></div>
            <p>
              {{
                "SERVICE_CARD.DESCRIPTION"
                  | translate : { description: service.description }
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
