<div class="header">
  <app-header></app-header>
</div>
<div class="container">
  <div class="text-center mb-2 mb-md-3 mb-lg-4">
    <h1 class="theme-color">Blogs & News</h1>
    <div class="h-decor"></div>
  </div>
</div>

<div class="gallery-specialist gallery-isotope mt-20" id="gallery-specialist">
  <div class="row">
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b4.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Facial Fat Injections</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Facial fat injection, also known as facial augmentation with fat
            grafting, is a procedure that…
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b6.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Tummy Tuck</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Abdominoplasty is a surgical procedure that aims to improve the
            shape and appearance of the abdominal area.
          </p>
        </div>
      </div>
    </div>

    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b8.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Fat Injections in Hands</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Hand fat injection is a surgical procedure that aims to improve the
            appearance and beauty of the hands by:
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b9.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Lower Leg Fat Injections</a>
        </h5>

        <div class="doctor-box-text">
          <p>
            Fat injection into the lower leg area, also known as leg enhancement
            using fat grafting,
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b10.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Bat Ear Sculpting</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Bat ear surgery, also known as single ear surgery, is a surgical
            procedure that aims to:
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b11.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Fat Injections in Buttocks</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Fat injection into the buttocks, also known as fat grafting buttock
            augmentation, is a procedure that...
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b12.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Thigh Lifting</a>
        </h5>

        <div class="doctor-box-text">
          <p>
            Thigh lift is a surgical procedure that aims to improve the
            appearance and shape of the thigh area by:
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b13.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Thigh Sculpting</a>
        </h5>

        <div class="doctor-box-text">
          <p>
            Thigh sculpting is a surgical procedure that aims to improve the
            appearance and shape of the thigh area by:
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b14.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Gynecomastia</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Gynecomastia, also known as male breast enlargement, is a condition
            characterized by enlargement of the breast tissue.
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b14.png" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Abdominoplasty and Waist Sculpting</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Abdominal and waist sculpting is a topic related to improving and
            strengthening the abdominal and waist area through a variety of
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b15.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Hair Transplant</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Hair transplantation is a surgical procedure used to treat hair loss
            or baldness. Hair transplantation is
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b16.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Eyelid Lifting and Lifting</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Eyelid lift surgery, also known as blepharoplasty, is a procedure
            that...
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b17.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Rhinoplasty</a>
        </h5>

        <div class="doctor-box-text">
          <p>
            Rhinoplasty, also known as nose surgery or rhinoplasty, is a
            surgical procedure that aims to
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b18.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Lip Augmentation</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Lip augmentation is a surgical or non-surgical procedure that aims
            to improve the appearance and shape of the lips to highlight
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b19.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Arm Sculpting</a>
        </h5>
        <div class="doctor-box-text">
          <p>
            Arm sculpting, also known as arm lift surgery, is a surgical
            procedure that aims to improve the appearance of the arms.
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b20.jpeg" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Chin Sculpting and Jaw Definition</a>
        </h5>

        <div class="doctor-box-text">
          <p>
            Jaw contouring surgery, also known as jaw surgery or jaw surgery,
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/b15.png" class="img-fluid" alt=""
          /></a>
        </div>
        <h5 class="doctor-box-name">
          <a href="doctor-page.html">Fat Injections</a>
        </h5>

        <div class="doctor-box-text">
          <p>
            Fat Injections: A Comprehensive Breakdown of Techniques,
            Applications, and Considerations** **Introduction** Fat injections,
            also known as fat grafting, are a...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
