<div class="header">
  <app-header></app-header>
</div>

<div class="page-content">
  <div class="section mt-0">
    <div class="breadcrumbs-wrap">
      <div class="container">
        <div class="breadcrumbs">
          <a routerLink="/home">Home</a>
          <span>{{ procedure?.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section page-content-first">
    <div class="container mt-6">
      <div class="row">
        <div class="col-md">
          <div class="doctor-page-photo text-center">
            <img
              [src]="procedure?.image"
              class="img-fluid"
              alt="{{ procedure?.name }}"
            />
          </div>
          <div class="mt-3 mt-md-5"></div>
        </div>

        <div class="col-lg-8 mt-4 mt-lg-0">
          <div class="doctor-info mb-3 mb-lg-4">
            <div class="doctor-info-name">
              <h3>{{ procedure?.name }}</h3>
            </div>

            <div class="doctor-info-social">
              <a href="https://www.facebook.com/" target="_blank" class="hovicon">
                <i class="icon-facebook-logo"></i>
              </a>
              <a href="mailto:info@dentco.net" class="hovicon">
                <i class="icon-black-envelope"></i>
              </a>
            </div>
          </div>

          <h3>Description</h3>
          <ul >
            <li *ngFor="let description of procedure.descriptions">
              {{ description }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
