<div class="header">
  <app-header></app-header>
</div>

<div class="container">
  <div class="text-center mb-3">
    <h1>{{ service.name }}</h1>
    <div class="h-decor"></div>
    <p>{{ service.description }}</p>
    <div class="service-card-photo">
      <img
        src="{{ service.image }}"
        class="img-fluid"
        alt="{{ service.name }}"
      />
    </div>
  </div>

  <h3>Benefits</h3>
  <ul class="marker-list-md-line">
    <li *ngFor="let benefit of service.benefits">{{ benefit }}</li>
  </ul>

  <a [routerLink]="service.link" class="btn btn-secondry mt-4">Learn More</a>
</div>
<app-footer></app-footer>
