<app-header></app-header>
<div class="section">
  <div class="text-center">
    <h2>
      Most Popular <br class="d-sm-none" /><span class="theme-color"
        >Procedures</span
      >
    </h2>
    <div class="h-decor"></div>
  </div>
  <div class="container-fluid mt-5">
    <div class="row no-gutters">
      <div class="col-xl-6 bg-grey">
        <div class="max-670 mx-lg-auto px-15">
          <div class="row">
            <div class="col-sm-7 col-lg-8">
              <h1 class="theme-color">dr . mohamed abddellateif</h1>
              <p>
                MBBS, MS – General Surgery, Neuro Surgery Neurosurgeon 20 Years
                Experience Overall (6 years as specialist) gestas consequat
                condimentum diam iaculis bibendum gravida cursus. Quis commodo
                pharetra a egestas curabitur Quis commodo pharetra a egest nec
                accumsan vitae consequat in facilisis cras. Quis cursus arcu id
                aliquam ut a enim enim diam. Vestibulum morbi sollicitudin
                commodo sed tellus semper massa. Quis eu dolor facilisis aliquam
                quam.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-6 banner-left bg-full"
        style="background-image: url(assets/images/doctor2.jpeg)"
      ></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="Doctor row">
    <div class="testimonial col-lg-6">
      <h1>Specializations</h1>
      <div class="text">
        <ul>
          <li>Neurosurgeon</li>
          <li>Brain tumor surgeries</li>
          <li>Pediatric neurosurgeries</li>
          <li>Peripheral Neuro surgery</li>
        </ul>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <h1>Education</h1>
      <div class="text">
        <ul>
          <li>Neurosurgeon</li>
          <li>Brain tumor surgeries</li>
          <li>Pediatric neurosurgeries</li>
          <li>Peripheral Neuro surgery</li>
        </ul>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <h1>Experience</h1>
      <div class="text">
        <ul>
          <li>Consultant neurosurgeon at Christ hospital, USA</li>
          <li>Senior Registrar at Mica Hospital, Seth AS Medical ,USA</li>
          <li>Neurosurgeon at WELLS University , USA</li>
        </ul>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <h1>Recognitions</h1>
      <div class="text">
        <ul>
          <li>
            Expert in performing Endoscope assisted surgery Adept in treatment
            of tumors.
          </li>
          <li>
            Innovative approach for prevention and treatment of post
            subarachnoid hemorrhage vasospasm
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="stats-container row">
  <div class="stat-item col-lg-3 text-center">
    <h2>24+</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="stat-item col-lg-3 text-center">
    <h2>10+</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="stat-item col-lg-3 text-center">
    <h2>92%</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="stat-item col-lg-3 text-center">
    <h2>100+</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
</div>
<div class="gallery-specialist gallery-isotope mt-20" id="gallery-specialist">
  <div class="row">
    <div class="text-center">
      <h2>My Team of <span class="theme-color">Doctors</span></h2>
      <div class="h-decor"></div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/doctor1.png" class="img-fluid" alt=""
          /></a>
        </div>
        <h2 class="doctor-box-name theme-color">Vickey Steen</h2>
        <div class="doctor-box-text">
          <p>
            Chief Surgeon Lorem ipsum dolor sit amet cons ectetur. Id semper
            tortor orci dui.
          </p>
        </div>
      </div>
    </div>
    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/doctor2.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <h2 class="doctor-box-name theme-color">Vickey Steen</h2>
        <div class="doctor-box-text">
          <p>
            Chief Surgeon Lorem ipsum dolor sit amet cons ectetur. Id semper
            tortor orci dui.
          </p>
        </div>
      </div>
    </div>

    <div class="gallery-item col-lg-4">
      <div class="doctor-box text-center">
        <div class="doctor-box-photo">
          <a href="doctor-page.html"
            ><img src="assets/images/blog/doctor3.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <h2 class="doctor-box-name theme-color">Vickey Steen</h2>
        <div class="doctor-box-text">
          <p>
            Chief Surgeon Lorem ipsum dolor sit amet cons ectetur. Id semper
            tortor orci dui.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="text-center">
    <h2>
      Let’s hear from <br class="d-sm-none" /><span class="theme-color"
        >healthy patient’s</span
      >
    </h2>
    <div class="h-decor"></div>
  </div>

  <div class="Doctor row">
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-01-sm.jpg" alt="Anna Lane" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Anna Lane</p>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-02-sm.jpg" alt="Louis Jourez" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Louis Jourez</p>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-03-sm.jpg" alt="Debra Potors" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Debra Potors</p>
      </div>
    </div>
    <div class="testimonial col-lg-6">
      <img src="assets/images/content/doctop-04-sm.jpg" alt="Mark Jimenez" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
          vel tristique. Vel elementum proin est nulla non accumsan eli.
        </p>
        <p class="name theme-color">Mark Jimenez</p>
      </div>
    </div>
  </div>
</div>
<div class="section mt-5">
  <div class="container">
    <div class="banner-call">
      <div class="row no-gutters">
        <div class="text-center">
          <h2>
            Got some <br class="d-sm-none" /><span class="theme-color"
              >questions</span
            >
          </h2>
          <div class="h-decor"></div>
        </div>
        <div class="px-15"></div>
        <div class="col-sm-5 col-lg-7 col-xl-4">
          <div class="question">
            How do I get a price estimate for a treatment/procedure?
          </div>
          <div class="question">
            Is my information safe after submitting to this site ?
          </div>
          <div class="question">
            Where do I call to find out the condition of a patient ?
          </div>
          <div class="question">
            Where do I call for information on health screenings?
          </div>
          <div class="question">
            Are children allowed to visit patients at Hospital?
          </div>
          <div class="question">
            What are the formalities to get my investigation reports?
          </div>
        </div>
        <div class="col-sm-5 col-lg-5 col-xl-4 mt-3">
          <img
            src="assets/images/content/banner-callus.jpg"
            class="shift-right-2"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
