<!--header-->
<div class="header">
  <app-header></app-header>
</div>
<!--//header-->
<div class="page-content">
  <!--section slider-->
  <app-slider></app-slider>
  <!--//section slider-->

  <!--section-->
  <div class="row">
    <div class="text-center">
      <h2>Special <span class="theme-color">Services</span></h2>
      <div class="h-decor"></div>
    </div>
    <div class="prd-grid">
      <div class="prd">
        <div class="prd-img">
          ><img
            src="assets/images/Lip Augmentation.jpeg"
            class="img-fluid"
            alt=""
          />
        </div>
        <h2 class="theme-color">Lip Augmentation</h2>
        <div class="prd-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="prd">
        <div class="prd-img">
          ><img
            src="assets/images/Facial implants.jpeg"
            class="img-fluid"
            alt=""
          />
        </div>
        <h2 class="theme-color">Facial implants</h2>
        <div class="prd-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="prd">
        <div class="prd-img">
          ><img
            src="assets/images/This is the heading.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <h2 class="theme-color">This is the heading</h2>
        <div class="prd-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="prd">
        <div class="prd-img">
          ><img
            src="assets/images/banner-callus-2.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <h2 class="theme-color">Breast Implant</h2>
        <div class="prd-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="prd">
        <div class="prd-img">
          ><img src="assets/images/blog/b6.jpeg" class="img-fluid" alt="" />
        </div>
        <h2 class="theme-color">This is the heading</h2>
        <div class="prd-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="prd">
        <div class="prd-img">
          ><img src="assets/images/blog/b11.jpeg" class="img-fluid" alt="" />
        </div>
        <h2 class="theme-color">Buttock Augmentation</h2>
        <div class="prd-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--//section-->

  <!--section blog posts -->
  <div class="section bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="blog-post blog-post-style4">
            <div class="post-image">
              <a href="blog-post-page.html"
                ><img src="assets/images/blog/blog-post-preview-1.jpg" alt=""
              /></a>
            </div>
            <div class="blog-post-info">
              <div class="post-date-simple mt-5 mb-2">April 4, 2020</div>
              <h2 class="post-title">
                <a href="blog-post-page.html"
                  >How to Improve Heart Rate Variability in 3 Easy Steps</a
                >
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="blog-post blog-post-style4">
            <div class="post-image">
              <a href="blog-post-page.html"
                ><img src="assets/images/sleep.jpg" alt=""
              /></a>
            </div>
            <div class="blog-post-info">
              <div class="post-date-simple mt-5">April 4, 2020</div>
              <h2 class="post-title">
                <a href="blog-post-page.html"
                  >Your Sleep Quality Probably Sucks. How to Know and What to
                  Do.</a
                >
              </h2>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-post blog-post-style4">
            <div class="post-image">
              <a href="blog-post-page.html"
                ><img src="assets/images/blog/blog-post-preview-2.jpg" alt=""
              /></a>
            </div>
            <div class="blog-post-info">
              <div class="post-date-simple mt-5">April 4, 2020</div>
              <h2 class="post-title">
                <a href="blog-post-page.html"
                  >What should you eat On daily basis to live a healthy life
                  ?</a
                >
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--//section blog posts -->
  <!--section -->
  <div class="section">
    <div class="text-center">
      <h2>
        Let’s hear from <br class="d-sm-none" /><span class="theme-color"
          >healthy patient’s</span
        >
      </h2>
      <div class="h-decor"></div>
    </div>

    <div class="Doctor row">
      <div class="testimonial col-lg-6">
        <img src="assets/images/content/doctop-01-sm.jpg" alt="Anna Lane" />
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
            vel tristique. Vel elementum proin est nulla non accumsan eli.
          </p>
          <p class="name theme-color">Anna Lane</p>
        </div>
      </div>
      <div class="testimonial col-lg-6">
        <img src="assets/images/content/doctop-02-sm.jpg" alt="Louis Jourez" />
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
            vel tristique. Vel elementum proin est nulla non accumsan eli.
          </p>
          <p class="name theme-color">Louis Jourez</p>
        </div>
      </div>
      <div class="testimonial col-lg-6">
        <img src="assets/images/content/doctop-03-sm.jpg" alt="Debra Potors" />
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
            vel tristique. Vel elementum proin est nulla non accumsan eli.
          </p>
          <p class="name theme-color">Debra Potors</p>
        </div>
      </div>
      <div class="testimonial col-lg-6">
        <img src="assets/images/content/doctop-04-sm.jpg" alt="Mark Jimenez" />
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur. Nisl aliquet dolor facilisi
            vel tristique. Vel elementum proin est nulla non accumsan eli.
          </p>
          <p class="name theme-color">Mark Jimenez</p>
        </div>
      </div>
    </div>
  </div>
  <!--//section -->
  <!--Most Popular Procedures-->
  <div class="section">
    <div class="text-center">
      <h2>
        Most Popular <br class="d-sm-none" /><span class="theme-color"
          >Procedures</span
        >
      </h2>
      <div class="h-decor"></div>
    </div>
    <div class="container-fluid mt-5">
      <div class="row no-gutters">
        <div class="col-xl-6 bg-grey">
          <div class="max-670 mx-lg-auto px-15">
            <div class="row">
              <div class="col-sm-7 col-lg-8">
                <ul class="fs-2">
                  <li>
                    <i class="fa-solid fa-chevron-right theme-color"></i>
                    Breast Augmentation
                  </li>

                  <li>
                    <i class="fa-solid fa-chevron-right theme-color"></i> Breast
                    Lift
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-dot theme-color"></i
                    >Liposuction
                  </li>
                  <li>
                    <i class="fa-solid fa-check theme-color"></i>Mommy Makeover
                  </li>
                  <li>
                    <i class="fa-solid fa-check theme-color"></i>Tummy Tuck
                  </li>
                  <li>
                    <i class="fa-solid fa-check theme-color"></i>Eyelid surgery
                  </li>
                  <li>
                    <i class="fa-solid fa-xmark theme-color"></i> Facelift
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-dot theme-color"></i>Neck
                    Lift
                  </li>
                  <li>
                    <i class="fa-solid fa-check theme-color"></i>Rhinoplasty
                  </li>
                  <li>
                    <i class="fa-solid fa-check theme-color"></i>BOTOX® Cosmetic
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-6 banner-left bg-full"
          style="background-image: url(assets/images/img.png); height: 600px"
        ></div>
      </div>
    </div>
  </div>

  <!--//section prices-->
  <!--section call us-->
  <div class="section mt-5">
    <div class="container">
      <div class="banner-call">
        <div class="row no-gutters">
          <div class="text-center">
            <h2>
              Got some <br class="d-sm-none" /><span class="theme-color"
                >questions</span
              >
            </h2>
            <div class="h-decor"></div>
          </div>
          <div class="px-15"></div>
          <div class="col-sm-5 col-lg-7 col-xl-4">
            <div class="question">
              How do I get a price estimate for a treatment/procedure?
            </div>
            <div class="question">
              Is my information safe after submitting to this site ?
            </div>
            <div class="question">
              Where do I call to find out the condition of a patient ?
            </div>
            <div class="question">
              Where do I call for information on health screenings?
            </div>
            <div class="question">
              Are children allowed to visit patients at Hospital?
            </div>
            <div class="question">
              What are the formalities to get my investigation reports?
            </div>
          </div>
          <div class="col-sm-5 col-lg-5 col-xl-4 mt-3">
            <img
              src="assets/images/content/banner-callus.jpg"
              class="shift-right-2"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//section call us-->
</div>
<!--footer-->
<app-footer></app-footer>
<!--//footer-->
